html {
    margin:0px;
    padding: 0px;
    
	overflow-y: scroll;
    height:100%;
    width:100%;

}

body {
    background-color:#FFFFFF;
    background-image: url(../img/body_background.gif);

	font-size: 12px;
	margin: 0px;
	color:#000000;
    height:auto;
    min-width: 800px;
	min-height:900px;

}

* html #content {
	height: auto;
}


h1#header {
	background: transparent url('../img/header.png') no-repeat top left;
	height:200px;
	padding:0px;
	margin:0px;
}

h1#header span
{
	display:none;
}

DIV#main_container {
	width:850px;
	margin: 0px auto 0px auto;
	border:0px;
	background:#ffffff;
	height:100%;
	min-height:900px;
	margin-top:5px;
	border: 1px solid #000;
}

fieldset.auction{
    width:400px;
    margin-left:20px;    
}

fieldset.auction img{
    margin:2px;
}

#bidPanel {
	width:500px;
	margin-left:220px;
}

#adPanel {
	width:180px;
	float:left;
}

div#content {
	height: 100%;
	margin:10px;
	padding:10px;
	width:810px;
}
.rich-panel {
    background:none !important;
    border: 1px #ccc solid !important; 
}
.rich-panel-header {
    background:none !important;
    border: 1px #ccc solid;
    background-color:#ccc !important;
}

.menuBar, .dr-toolbar-ext,.rich-toolbar {
	background:none;
	background-color: #ffa412;
}
.rich-toolbar-separator,.rich-separator {
    width:2px;
    height:14px;
}

a img {
	border: none;
}

h1 {
	font-size: 1.6em;
	margin-top: 0;
}

input[type=submit], input[type=button] {
	font-size: 11px;
	margin: 5px 5px 5px 0;
	cursor: pointer;
}

input[type=text], input[type=password], textarea {
	font-size: 12px;
	padding-left: 1px;
}

select {
	font-size: 13px;
}

.tableControl, .actionButtons {
	width: 100%;
}

.tableControl a {
	padding-left: 10px;
}

.tableControl {
	text-align: right;
}

.footer {
    width:850px;
    margin: -2px auto 0px auto;
    height:40px;
    background:none;
    background-color:#333333;
    color:#FFFFFF;
    text-align:center;
    font-size: 11px;
    
    /*
	display:none;
	text-align: center;
	font-size: 11px;
	margin-bottom: 10px;
	background:none;
	background-color:#333333;
	color:#FFF;
	*/
}

.rich-table {
	width: 100%;
}

.body {
	padding: 10px;
    border: 1px #ccc solid;
}

.message {
	padding: 5px;
	list-style: none;
	border: 0;
	background: none;
	padding: 0;
	color: #000000;
	margin: 5px 0 8px 0;
	font-size: 12px;
}

.message li {
	background: no-repeat left center;
	padding-top: 1px;
	padding-left: 20px;
	margin-left: 3px;
}

.message li.infomsg {
	background-image: url(../img/msginfo.png);
}

.message li.errormsg {
	background-image: url(../img/msgerror.png);
}

.message li.warnmsg {
	background-image: url(../img/msgwarn.png);
}

.name {
	vertical-align: top;
	font-weight: bold;
	width: 115px;
	float: left;
	padding: 5px;
	margin-top: 3px;
	clear: left;
}

.value {
	float: left;
	padding: 5px;
}

.error {
	float: left;
	padding: 5px;
}

.errors {
	color: #FF0000;
	vertical-align: middle;
}

img.errors {
	padding-right: 5px;
}

.errors input, .errors textarea, .errors select {
	border: 1px solid red !important;
}

.required {
	color: #FF0000;
	padding-left: 2px;
}

.rich-stglpanel-body {
	overflow: auto;
} 

/* the specificity here is necessary to override the defaults */
/*
.rich-panel .rich-panel-header,
.rich-stglpanel .rich-stglpanel-header {
	padding: 2px 3px;
}*/

.rich-panel input[type=submit], .rich-panel input[type=button],
.rich-tabpanel input[type=submit], .rich-tabpanel input[type=button] {
	margin-bottom: 0;
}

.tableControl input[type=submit], .tableControl input[type=button], .tableControl select {
	margin: 5px 0 5px 5px;
}

/* I don't know why this is necessary, but the select is off by a pixel on the top and is padding too much on the left */
.tableControl select {
	margin-left: 2px;
	position: relative;
	top: 1px;
}

.actionButtons {
	padding-left: 1px;
}

.actionButtons select {
	margin: 5px 5px 5px 0;
	vertical-align: bottom;
}

.rich-toolbar-item a {
	text-decoration: none;
}

.rich-toolbar-item a:hover, .rich-ddmenu-label-select {
	text-decoration: underline;
}

.rich-menu-item {
	text-decoration:none;
	background-color:#ffe38c;
}
.rich-menu-list-bg{
	background-color:#ffe38c;
}
.rich-toolbar-item .rich-menu-item:hover a:hover {
	text-decoration: none;
	background-color:#ffe38c;
}
.dr-menu-label{
	background-color:#ffa412;
}
.dr-menu-label:hover{
	border: 1px dashed #555;
	background-color:#ffe38c;
}
.rich-menu-list-border{
	border:1px dashed #555;
	background-color:#ffe38c;
}
.rich-datalist {
	list-style: square;
	margin: 6px 0 1px 0;
	padding-left: 18px;
}

.rich-list-item {
	padding-bottom: 4px;
}

div.info {
	font-size: 1.2em;
}

ul.bullets {
	list-style: square;
}

ul.bullets li {
	padding-bottom: 2px;
}

td.action {
	text-align: center;
	width: 8em;
	white-space: nowrap;
}

td.action a {
	padding-left: 1px;
	padding-right: 1px;
}

table.radio {
border: 0;
}

table.radio td {
padding: 0 2px;
color: #0f0;
}

table.radio input[type=radio] {
vertical-align: bottom;
}


/* Forms & related */
/* should be first column*/
td.description
{
    width:350px;
}

td.value
{
    width:150px;
}

td.message
{
    width:150px;
}

textarea.description
{
    width:300px;
    height:200px;
}

table.rich-dtascroller-table {
	border: 1px solid #555;
	background-color: #ddd;
}

td.rich-datascr-button {
	border: 1px solid #555;
	background-color: #eee;
}

td.rich-datascr-act {
	border-top: 2px solid #000;
	background-color: #fff;
	color:#000;
}
td.rich-datascr-button-dsbld {
	color: #ccc;
}
td.rich-datascr-inact {
	border-top: 2px solid #ccc;
	background-color: #fff;
	color: #ccc;
}

.extdt-menucell {
	background-color:#f0f;
}

.rich-extdt-subheadercell {
	background-color:#ffe38c;
}