/* CSS
-------------------------------------------------------------------
# rdf:
# dc:title Base CSS Styling
# cvs:date $Date: 2006/04/08 15:48:32 $
# cvs:id $Id: silkpage.css,v 1.2 2006/04/08 15:48:32 sina Exp $
# dc:rights Copyright &#169; 2006 MarkupWare.
# dc:description Base CSS Stylesheet for a given website.
# dc:author MarkupWare Team
---------------------------------------------------------------- */

/* imports Phenix style.
----------------------------------------------- */

@import url(phenix/main.css);


#header div#title a {
	text-indent: 10px;
	width: 280px;
	color: #E97E00;
	font-size: 130%;
	padding: 30px 10px;
	margin: -23px 15px;
	height: 20px;
}

#header div#title 
{
	margin-top: 23px;
}

#subnav .sidebar li
{
	background-color: transparent;
}

/*#header div#title { background: url(../img/logo.png) top left no-repeat; }*/

/* hidden references */
#secnav li.sitemap,
#secnav li.site-license,
#secnav li.site-search,
/* no sidebar for sitemap */
.sitemap #sidebar,
.site-search #sidebar #secnav, 
.site-search #maincontent h1,
.site-search #maincontent h2,
.home h1,
.about h1,
.spmp h1
{
   display: none; 
}

.sitemap #wrapper, 
.feeds #wrapper, 
.site-license #wrapper, 
.site-search #wrapper {
        width: 784px;
	}

.sitemap #wrapper, 
.site-search #wrapper {
	background: #fff;
	}

.sitemap #maincontent, 
.site-search #maincontent {
	width: 95%;
	padding-top: 2em;
	}

.sitemap #headitems .sitemap.vbar { display: none; }
.site-search #headitems .site-search.vbar { display: none; }

.searchLinks a { 
	font-size: 86%; 
	}

.searchLinks { 
	text-indent: 10px; 
	margin-top: -12px; 
	}

.site-search .google a span { visibility: hidden; }
.site-search .google a { text-decoration: none; background-image: none;	} 
.site-search .google { 
	background: #fff url(../img/google.gif) top right no-repeat;
	text-align: right;
	}

/* sitemap */
.sitemap #maincontent h1, 
.sitemap #maincontent .notoc,
.sitemap #maincontent .headitem.sitemap
{
	display: none;
}

.sitemap #maincontent p.dev a, 
.sitemap #maincontent p.about a, 
.sitemap #maincontent p.docs a, 
.sitemap #maincontent p.download a
{
	color: #E97E00; 
	text-decoration: none;
}

.hbar { margin-left: 5px; }

.sitemap #maincontent .summary { font-size: 88%; }
.sitemap #maincontent p.about, 
.sitemap #maincontent p.docs, 
.sitemap #maincontent p.download, 
.sitemap #maincontent p.dev 
{ 
	border-bottom: 1px solid #ccc; 
	font-size: 135%;
	color: #000;
}

.sitemap #maincontent p.download, 
.sitemap #maincontent p.dev { 
	border-bottom: 0px;
	}

.sitemap #maincontent li.docs, 
.sitemap #maincontent li.download, 
.sitemap #maincontent li.about, 
.sitemap #maincontent li.dev 
{ 
	background-image: none; 
	margin:0 0 2em 0; 
}

.sitemap #maincontent li.solutions-and-services { 
	padding: 0; 
	margin: 0; 
	}

form .invalid input { background-color: #ffcccc; }
#footitems span.feedback a { margin-left: 5px; }

.team #maincontent dl dt { 
	color: #E97E00; 
	font-size: 120%; 
	margin: 1em 0; 
}

.feeds #maincontent .feed-description { display: none; }
.home #maincontent { padding-top: 2em; }
.urfm .description,
